<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cardna">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name="org.cardna.CardNaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cardna"
        android:usesCleartextTraffic="true">
        <activity
            android:name="org.cardna.presentation.ui.cardpack.view.CardYouStoreActivity"
            android:exported="false" />
        <activity
            android:name="org.cardna.presentation.ui.cardpack.view.OtherCardCreateCompleteActivity"
            android:exported="false" />
        <activity
            android:name="org.cardna.presentation.ui.cardpack.view.CardCreateCompleteActivity"
            android:exported="false" />
        <activity
            android:name="org.cardna.presentation.ui.login.SplashActivity"
            android:exported="false" />

        <activity
            android:name="org.cardna.presentation.ui.cardpack.view.TempCardYouStoreActivity"
            android:exported="false" />
        <activity
            android:name="org.cardna.presentation.ui.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name="org.cardna.presentation.ui.maincard.view.MainCardActivity"
            android:exported="false" />
        <activity
            android:name="org.cardna.presentation.ui.editcard.view.EditCardActivity"
            android:exported="false" />

        <activity
            android:name="org.cardna.presentation.ui.mypage.view.SearchFriendCodeActivity"
            android:exported="false" />

        <activity
            android:name="org.cardna.presentation.ui.cardpack.view.FriendCardPackActivity"
            android:exported="false" />
        <activity
            android:name="org.cardna.presentation.ui.cardpack.view.CardCreateActivity"
            android:exported="false" />
        <activity
            android:name="org.cardna.presentation.ui.detailcard.view.CardShareActivity"
            android:exported="false" />
        <activity
            android:name="org.cardna.presentation.ui.detailcard.view.DetailCardActivity"
            android:exported="true" />
        <activity
            android:name="org.cardna.presentation.ui.alarm.view.AlarmActivity"
            android:exported="true" />
        <activity
            android:name="org.cardna.presentation.ui.setting.view.SecessionActivity"
            android:exported="true" />
        <activity
            android:name="org.cardna.presentation.ui.setting.view.ServiceOperationActivity"
            android:exported="false" />
        <activity
            android:name="org.cardna.presentation.ui.setting.view.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name="org.cardna.presentation.ui.setting.view.DeveloperInfoActivity"
            android:exported="false" />
        <activity
            android:name="org.cardna.presentation.ui.setting.view.VersionInfoActivity"
            android:exported="false" />
        <activity
            android:name="org.cardna.presentation.ui.setting.view.SettingActivity"
            android:exported="true" />
        <activity
            android:name="org.cardna.presentation.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.cardna.presentation.ui.login.SetNameFinishedActivity"
            android:exported="true" />
        <activity
            android:name="org.cardna.presentation.ui.login.SetNameActivity"
            android:exported="false" />
    </application>

</manifest>